* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #eee;
}

header {
    height: 50vh;
    color: #eee;
    font-size: 56px;
    letter-spacing: -0.4px;
    font-weight: 600;
    background-color: lightcoral;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-top: 50px;

    display: flex;
    justify-content: center;
}

section {
    height: 50vh;
    color: lightcoral;
    font-size: 56px;
    letter-spacing: -0.4px;
    font-weight: 600;
    padding-top: 50px;

    display: flex;
    justify-content: center;
}
